.main {
  background-color: #f2ece2;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main_left {
  margin-left: 50px;
  margin-right: 90px;
}

.main_left > h5 {
  font-weight: bold;
}

.main_left > h4 {
  padding-top: 30px;
  font-weight: bolder;
  font-size: 45px;
}

span {
  color: red;
}

.member {
  margin-right: 50px;

  height: 80vh;
  width: 60vw;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
  background-color: white;
}

.card__info > form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 120px;
}

.form_label {
  font-weight: bold;
  font-size: 20px;
}

.form_input {
  border-radius: 12px;
  border: 2px solid #ffaa9f;
  width: 300px;
  height: 50px;
}

.form_input :focus {
  border: none !important;
  outline: none !important;
}

.form_submit {
  border: 2px solid #ffaa9f;
  background-color: white;
  color: black;
  border-radius: 12px;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  transition: 0.5s;
}

.form_submit:hover {
  background-color: #ffaa9f;
  color: white;
}

.card__info {
  margin-top: -9px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 20px;
  border: 1;
}

.card__info > h2 {
  font-size: 18px;
  font-weight: 600;
}

.card__info > h4 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
}
