.searchResult {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.searchResult:hover {
  opacity: 0.8;
}

.searchResult > img {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.searchResult__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.searchResult__heart {
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: #ff8879;
  color: white;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 8px 40px;
  transition-duration: 0.4s;
}

.searchResult__heart:hover {
  border: 2px solid #ff8879;
  /* outline: none; */
  background-color: white;
  color: #ff8879;
}

.searchResult__heart:focus {
  border: none;
  outline: none;
}

.searchResult__infoTop {
  width: 40vw;
}

.searchResult__infoTop > h3 {
  font-weight: 300;
  margin-top: 10px;
}

.searchResult__infoTop > p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}

.searchResult__infoBottom {
  display: flex;
  justify-content: space-between;
}

.searchResult__star {
  color: red;
}

.searchResult__stars {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.searchResult__stars > em {
  padding-left: 10px;
}

.searchResults__price > p {
  text-align: right;
}

.searchResults__price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
